<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <%- include("./search.ejs") %>
    <div class="container">
        <main class="main">
            <h3>Choose User/Admin Login</h3>
            <a href="/user/login" type="button" class="btn">Login User</a>
            <a href="/admin/login" type="button" class="btn">Login Admin</a>
        </main>
    </div>
    
</body>
</html>