<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <%- include("./search.ejs") %>
    <div class="container">
        <main class="main">
            <h3>Register User/Admin</h3>
            <a href="/user/register" type="button" class="btn">Register User</a>
            <a href="/admin/register" type="button" class="btn">Register Admin</a>
        </main>
    </div>
    
</body>
</html>